
<h1>routers</h1>
<p>Routing in Angular allows the users to create a single-page application with multiple views and 
  allows navigation between them. 
  Users can switch between these views without losing the application state and properties.</p>

  <p>There are two type of routers</p>
  <li>Pathlocation</li>
  <li>Hashlocation</li>

  <h2>Base HREF</h2>
  <p>specifies a base path for resolving relative URLs to assets such as images, scripts, 
    and style sheets.</p>

  <base href="/">

  <h2>router module</h2>
<router-outlet></router-outlet>
